# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bec-cloud-parent/.settings
/bec-cloud-auth-core/.project
/bec-cloud-auth-core/.settings
/bec-cloud-auth-core/bin
/bec-cloud-auth-core/.classpath
/bec-cloud-auth-core/target
/bec-cloud-eureka-server/.project
/bec-cloud-eureka-server/.settings
/bec-cloud-eureka-server/bin
/bec-cloud-eureka-server/.classpath
/bec-cloud-eureka-server/target
/bec-cloud-service-demo/.project
/bec-cloud-service-demo/.settings
/bec-cloud-service-demo/bin
/bec-cloud-service-demo/.classpath
/bec-cloud-service-demo/target
/bec-cloud-service-demo2/.project
/bec-cloud-service-demo2/.settings
/bec-cloud-service-demo2/bin
/bec-cloud-service-demo2/.classpath
/bec-cloud-service-demo2/target
/bec-cloud-service-example/.springBeans
/bec-cloud-service-example/.settings
/bec-cloud-service-example/bin
/bec-cloud-service-example/.classpath
/bec-cloud-service-example/.project
/bec-cloud-service-example/target
/bec-cloud-turbine/.project
/bec-cloud-turbine/.settings
/bec-cloud-turbine/bin
/bec-cloud-turbine/.classpath
/bec-cloud-turbine/target
/bec-cloud-zipkin-server/.project
/bec-cloud-zipkin-server/.settings
/bec-cloud-zipkin-server/bin
/bec-cloud-zipkin-server/target
/bec-cloud-zipkin-server/.classpath
/bec-cloud-zipkin-server/target
/bec-cloud-zuul/.project
/bec-cloud-zuul/.settings
/bec-cloud-zuul/bin
/bec-cloud-zuul/target
/bec-cloud-zuul/.classpath
